.card {
    flex-direction: column;
    list-style: none;
    border-radius: 10px;
    background-color: white;
    color: black;
    width: 282px;
    height: 361px;
}


.card__image {
    width: 282px;
    height: 282px;

}

.card__description {
    align-items: center;
    justify-content: space-between;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.card__like-button {
    background: transparent url(../images/heart-logo.svg) center no-repeat;
    border: none;
    cursor: pointer;
    transition: 0.7s;
    width: 21px;
    height: 18px;
    margin-right: 30px;
    padding-bottom: 30px;

}

.card__like-button:hover {
    opacity: 0.5;
}

.card__footer {
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__list {
    padding-top: 30.25px;

}

.cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 17px 17px;
    padding: 0;
}