.header {
    margin-top: 45px;
    margin-left: 200px;
    height: 33px;
    width: 173px;


}


@media screen and (max-width: 750px) {
    .header {
        margin-left: 27px;
        margin-right: 167px;
        margin-top: 28px;
        background-color: rgb(7, 176, 244);
        height: 24px;
        width: 126px;
    }
}

@media screen and (max-width: 479px) {
    .header {
        margin-left: 27px;
        margin-right: 167px;
        margin-top: 28px;
        background-color: rgb(236, 15, 148);
        height: 24px;
        width: 126px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        margin-left: 27px;
        margin-right: 167px;
        margin-top: 28px;
        background-color: greenyellow;
        height: 24px;
        width: 126px;
    }
}