.modal {
    background-color: black;
    display: flex;
    height: 100vh;
    font-family: "Inter", Arial, sans-serif;

}

.modal__container {
    background-color: white;
    border-radius: 10px;
    max-width: 430px;
    height: 330px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.modal__close-button {
    background: url(../images/Close\ Icon.png)center no-repeat;
    height: 40px;
    width: 40px;
    position: absolute;
    top: -40px;
    right: -40px;
    border: 0;

}

.modal__close-button:hover {
    opacity: 0.6;
}

.modal__title {
    font-weight: 900;
    line-height: 29.05px;
    font-size: 24px;
    font-style: normal;
    color: #000000;
    margin-top: 34px;
    margin-left: 36px;
    margin-right: 64px;
}


.modal__input {
    border: 0;
    flex-direction: column;
    display: flex;
    width: 358px;
    border-bottom: 1px solid #000000;
    opacity: 0.2;
    margin-left: 36px;
    margin-right: 36px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;

}


.modal__input-line {
    margin-bottom: 29.74px;
    border-bottom: 1px solid #000000;
    opacity: 0.2;
    padding-bottom: 13px;
}

.modal__input-description {
    border-bottom: 1px solid #000000;
    opacity: 0.2;
    padding-bottom: 13px;

}


.modal__save-button {
    background: #000000;
    width: 358px;
    height: 50.15px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 36px;
    margin-right: 36px;
    margin-top: 48px;
    color: white;
    font-size: 18px;
    font-style: normal;

}

.modal__save-button:hover {
    opacity: 0.8;
}

.modal__form {
    padding: 0;
}

.modal__opened {
    display: block;
}