.modal {
    background-color: 0px 0px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    font-family: "Inter" Arial, sans-serif;
    box-sizing: border-box;
    visibility: visible;
    height: 100vh;
    width: 100%;
}

.modal__container {
    background-color: chartreuse;
    width: 430px;
    height: 330px;
    border-radius: 10px;


}

.modal__edit-button {
    height: 40px;
    width: 40px;
    display: flex;
    cursor: pointer;
}