.page {
    background-color: black;
    color: white;
    display: flex;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    flex-direction: column;
}

.page__section {
    max-width: 880px;
    position: relative;
    margin: 0 auto;
}

@media screen and (max-width: 1140px) {
    .page__section {
        width: calc(100% - 40px);
    }
}