.profile {
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin: auto;
    object-fit: contain;
}

.profile__info {
    display: grid;
    grid-template-areas:
        "title button"
        "description description";
    grid-template-columns: minmax(auto, 373px) auto;
    font-family: "Inter" sans-serif;
    align-items: flex-end;
}

.profile__edit-button {
    background: transparent url(../images/edit-button.svg) center no-repeat;
    height: 24px;
    width: 24px;
    grid-area: button;
    align-self: center;
    justify-self: center;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.6s;
    border-color: white;
    margin-right: 0;



}

.profile__edit-button :hover {
    opacity: 0.6;




}

.profile__add-button {
    background: transparent url(../images/addbutton1.svg) center no-repeat;
    height: 50px;
    width: 150px;
    margin-left: auto;
    grid-area: button;
    padding: 0;
    border-color: white;
    cursor: pointer;
    transition: 0.6s;



}

.profile__add-button :hover {
    opacity: 0.6;


}

.profile__title {
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    grid-area: title;
    margin: 0;
    font-family: "Inter", sans-serif;
    height: 39px;
}

.profile__description {
    font-size: 18px;
    font-weight: 400;
    grid-area: description;
    margin: 0;
    width: 415px;
    height: 22px;
    margin-top: 16px;


}

.profile__image {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    margin-right: 24px;
    margin-top: 36.25px;

}



@media screen and (max-width: 768px) {
    .profile {
        align-items: center;
        justify-content: center;
    }

    .profile__title {
        font-size: 22px;
        font-weight: 500;

    }

    .profile__description {
        font-size: 14px;
        font-weight: 400;
    }

    .profile__image {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        object-fit: cover;
        background-position: center;
        margin-right: 24px;
    }

}

@media screen and (max-width: 480px) {
    .profile {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .profile__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

    }

    .profile__description {
        text-align: center;
        width: 100%;
    }

    .profile__add-button {
        margin: 0;
        width: calc(100% - 38px);
    }

    .profile__edit-button {
        margin-left: 10px;
        width: 18px;
        height: 18px;
        margin-top: 0;
    }

    .profile__title {
        line-height: 48px;
        font-weight: 500;
        grid-area: title;
        font-family: "Inter", sans-serif;
        margin: 0;

    }

    .profile__image {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        object-fit: cover;
        background-position: center;
        margin-left: 24px;
    }


}



@media screen and (max-width: 320px) {

    .profile {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .profile__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;

    }

    .profile__description {
        width: 100%;
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        margin-top: 14px;


    }

    .profile__add-button {
        margin-top: 36px;

    }

    .profile__image {
        margin-bottom: 26.25px;

        margin-top: 38.25px;

    }

    .profile__edit-button {
        margin-left: 10px;
        width: 18px;
        height: 18px;
        margin-top: 0;
    }
}