.profile {
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin: auto;
    object-fit: contain;
}

.profile__info {
    display: grid;
    grid-template-areas:
        "title button"
        "description description";
    grid-template-columns: minmax(auto, 373px) auto;
    font-family: "Inter" sans-serif;
    align-items: flex-end;
    grid-gap: 9px 17px;
}

.profile__edit-button {
    background: transparent url(../images/edit-button.svg) center no-repeat;
    height: 24px;
    width: 24px;
    grid-area: button;
    align-self: center;
    justify-self: center;
    margin-top: 8px;
    cursor: pointer;
    transition: 0.6s;
    border-color: white;




}

.profile__edit-button:hover {
    opacity: 0.6;




}

.profile__add-button {
    background: transparent url(../images/addbutton1.svg) center no-repeat;
    height: 50px;
    width: 150px;
    margin-left: auto;
    grid-area: button;
    padding: 0;
    cursor: pointer;
    transition: 0.8s;
    border: 2px solid white;
    border-radius: 2px;




}

.profile__add-button:hover {
    opacity: 0.6;


}

.profile__title {
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    grid-area: title;
    margin: 0;
    font-family: "Inter", sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;


}

.profile__description {
    font-size: 18px;
    font-weight: 400;
    grid-area: description;
    margin: 0;
    /* width: 415px; */
    margin-top: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;


}

.profile__image {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    margin: 0 30px 0 0;

}



@media screen and (max-width: 768px) {

    /* .profile {
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    } */
    .profile__image {
        margin-top: 0;
    }

    .profile__info {
        grid-template-columns: minmax(auto, 228px) auto;
        grid-gap: 5px 7px;
    }


    .profile__title {
        font-size: 32px;

    }

    .profile__description {
        font-size: 14px;

    }

    .profile__add-button {
        width: 50px;
        height: 50px;
    }


}


@media screen and (max-width: 568px) {
    .profile__info {
        grid-template-columns: minmax(auto, 195px) auto;
    }

    .profile__title {
        font-size: 27px;
        line-height: 33px;


    }

    /* .profile__image {
        margin-top: 0;
    } */

}

@media screen and (max-width: 480px) {
    .profile {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 38px;
    }

    .profile__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

    }

    .profile__description {
        text-align: center;
        width: 100%;
        margin-bottom: 25px;
    }

    .profile__add-button {
        margin: 0;
        width: 100%;
    }

    .profile__edit-button {
        margin-left: 10px;
        width: 18px;
        height: 18px;
        margin-top: 0;
    }

    .profile__title {
        line-height: 48px;
        grid-area: title;
        font-size: 22px;


    }

    .profile__image {
        margin: 0 0 26px 0;
    }
}



@media screen and (max-width: 320px) {

    .profile {
        flex-direction: column;
        padding-left: 19px;
        padding-right: 19px;


    }

    .profile__title {

        font-size: 22px;
        line-height: 22px;
        width: 196px;

    }

    .profile__description {
        font-size: 14px;
        line-height: 17px;
        margin-top: 14px;


    }


    /* .profile__image {
        margin: 0 0 26px 0;

    } */

    .profile__edit-button {
        margin-top: 0px;
        margin-left: 14.25px;

    }
}